# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.dist-info/
env/
venv/
.venv/

# AI Model weights (too large for GitHub)
*.pt
*.bin
*.onnx
camera/best/
camera/best_ocr_openvino_model/
camera/best_openvino_model/

# Node / Front-end
node_modules/
dist/
build/

# IDE / editor
.vscode/
.idea/

# Logs / DB / secrets
*.log
parking.db
.env

# OS files
Thumbs.db
desktop.ini

# Scratch / temp
scratch/
kernel.errors.txt
