# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.dist-info/
env/
venv/
.venv/

# Node / Front‑end
node_modules/
dist/
build/

# VS Code / IDE
.vscode/
.idea/

# Logs / DB / Secrets
*.log
parking.db
.env
